.btn {
  background: #48a6f2;
  font-size: 18px;
  color: #fff;
  border: solid 1px;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

.btn:active,
.btn:focus {
  outline: none;
  border-color: #48a6f2;
  background: white;
  color: #48a6f2;
}
